table {
  border-collapse: collapse;
  border : 4px solid #2B0E00;
}
body {
  background: url('img/bck.jpg'); 
  margin: 0px;
  padding: 0px;
  border:none;
}
.cell {
  text-align: center;
  vertical-align: middle;
  font-family: "Helvetica";
  font-size: 8pt;
  width: 15px;
  height: 15px;
  border : none;
  margin: 0px;
  padding: 0px;
  position : relative;
  background : #663300;
  z-index:1;
}

.o {
  background-image: url('img/tile.jpg');
  background-size: 15px 15px;
  
}

.e {
  background : #FFFFFF;
  background-size: 10px 10px;
}

.pawnW{
  content: url("img/QW.png");
  height: 10px;
  width:10px;
  left: 2px;
  position: relative;
  z-index:2;
/*   cursor:pointer; */
} 

.pawnWselect{
	transition: outline 1ms linear 1ms;
  	-webkit-transition: outline 1ms linear 1ms;
}

.pawnWselect:hover{
	outline: #7A2900 solid 1pt;
	cursor:pointer;
}

.pawnB{
  content: url("img/QB.png");
  height: 10px;
  width:10px;
  left : 2px;
  position: relative;
  z-index:2;
} 

.pawnBselect{
	transition: outline 1ms linear 1ms;
  	-webkit-transition: outline 1ms linear 1ms;
}

.pawnBselect:hover{
	outline: #7A2900 solid 1pt;
	cursor:pointer;
}

.arrow{
  content: url("img/occupy.png");
  height:11px;
  width: 11px;
  left: 2px;
  bottom: 2px;
  position: absolute;
  z-index:2;
} 

.pawnTurn{
	outline: #7A2900 solid 1pt;
}

/* 
.pawnW:hover{
  outline: #7A2900 solid 1pt;
}

.pawnB:hover{
  outline: #7A2900 solid 1pt;
}
 */

/*
.r {
  border-right: 1pt solid black;
}
.b {
  border-bottom: 1pt solid black;
}

*/