body {
  margin: 0px;
  padding: 0px;
  border:none;
  max-height: 100%;
}


.table {
  border-collapse: collapse;
  border : 4px solid #2B0E00;
  padding: 0;
}

.cell {
  position: relative;
  width: 10%;
  padding-bottom: 10%;
}

.o {
  background-image: url('img/rsz_tile3.jpg');
}

.e {
  background-image: url('img/tile2.jpg');
}

.pawnW{
  position: relative;
  content: url("img/QW.png");
  max-width: 100%;
  padding-bottom:0%;
}

.pawnWselect{
    filter: opacity(100%);
    -webkit-filter: opacity(100%);

}

.pawnWselect:hover{
	cursor:pointer;
  filter: opacity(30%);
  -webkit-filter: opacity(30%);

}

.pawnB{
  position: relative;
  content: url("img/QB.png");
  max-width: 100%;
  padding-bottom:0%;

}

.pawnBselect{
  filter: opacity(100%);
  -webkit-filter: opacity(100%);

}

.pawnBselect:hover{
  cursor:pointer;
  filter: opacity(30%);
  -webkit-filter: opacity(30%);
}

.arrow{
  content: url("img/stop.png");
  max-width: 60%;
  padding-left: 20%;
  -webkit-animation: mymove 300ms; /* Chrome, Safari, Opera */
  animation: mymove 300ms;

}

@keyframes mymove{
  from {max-width: 10%; padding-left: 20%;}
  to {max-width: 60%; padding-left: 20%;}
}

@-webkit-keyframes mymove {
  from {max-width: 10%; padding-left: 20%;}
  to {max-width: 60%; padding-left: 20%;}
}

.pawnTurn{
  filter: opacity(30%);
  -webkit-filter: opacity(30%);
}
